:root {
  /* colors pallette */
  --prim-50: #001529;
  --prim-100: #A2ACBD;
  --prim-200: #6E7888;
  --prim-300: #0096FB;
  --prim-400: #3E4756;

  /* colors */
  --primary-50: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.login-form{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 500px;
  max-height: 470px;
  width: auto;
  height: 100%;
  margin-top: 5vh;
}

.loginf{
  display: grid;
  place-items: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.login-form2{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
  max-width: 500px;
  max-height: 450px;
  width: auto;
  height: 100%;
  margin-top: 5vh;

}
.login-form2 button{
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login-form h1{
  text-align: center;
  margin-bottom: 10px;
  font: 36px Baochi;
}

.login-form hr{
  height: 1px;
}

.login-form button{
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.input-group{
  position: relative;
  padding-bottom: 25px;
}
.input{
  padding: 10px;
  /*border: none;*/
  font: inherit;
  font-display: swap;
  color:#fff;
  background-color: #ffffff;
  /*outline: 2px solid rgb(0, 0, 0);*/
  border-top: none;
  border-left: none;
  border-right: none;
  width: 450px;
}
.input-label{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform .25s;
}
.input:focus+.input-label,
.input:valid+.input-label{
  transform: translate(10px, -14px) scale(.85);
  padding-inline: 5px;
  background-color: #fff;
  border-radius: 5px;
}
.input:is(:focus, :valid){
  /*outline-color: #007bff;*/
  outline: none; 
  color: rgb(16,16,16);
}

.loginfrm a{
  color: #000000;
  text-decoration: none;
}

.topnav{
  padding-left: 10%;
}

.logodiv{
  display: grid;
  place-items: center;

}

.logodiv img{
  width: 100px;
  height: auto;
}

.logodiv h1{
  font-weight: 500;
}

.header-home{
  color: var(--prim-100);
  font-size: 24px;
  font-weight: 300;
  font-family: 'Mont Blank';
}

.dropdown{
  place-items: center;
  float: right;
}


.main-page{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: var(--grey-200);
  height: 93vh;
}
.main-div{
  float:right;
}
.main-text{
  float: left;
}
